.container-pricebar {
  background-color: #EEE;
  width: 346px;
  font-size: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
p {
  background-color: #EEE;
  margin: 15px 203px 0 14px;
}
.tb-pricebar {
  border: 0.5px solid #CCC;
  border-radius: 3px;
  margin: 0 20px 60px 20px;
  padding-bottom: 10px;
}
.products-pricebar{
  color: #212122;
}
.products-price-send{
  color: #212122;
}
.products-price-discount{
  color: #FF7800;
}
.products-price-total{
  font-weight: bold;
  color: #212122;
  padding-top: 5px;
}
.tb-pricebar-value{
  display: flex;
  flex-direction: column;
  margin: -205px 0 0 240px;
}