.container-pricebar {
  background-color: #EEE;
  width: 341px;
  font-size: 15px;
  text-align: left;
}
p {
  background-color: #EEE;
  margin: 15px 203px 0 14px;
}
.tb-pricebar {
  border: 0.5px solid #CCC;
  border-radius: 3px;
}
.products-pricebar{
  color: #212122;
}
.products-price-send{
  color: #212122;
}
.products-price-descount{
  color: #FF7800;
}
.products-price-total{
  font-weight: bold;
  color: #212122;
}
