*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  background-color: #EEE;
}

.App {
  background-color: #EEE;
  text-align: center;
}

.App-header {
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}