h4{
  color: #999;
  text-align: left;
  font-size: 1em;
  margin-left: 20px;
  margin-top: 20px;
}
.container-products{
  background-color: #EEE;
}
.tb-products-products{
  padding: 10px;
  background-color: white;
  border: 0.5px;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,29,0.22);
}
.tb-products-list{
  background-color: white;
  border: 0.5px solid #CCC;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}
.image-products{
  height: 63px;
  width: 63px;
  
}
.name-products{
  width: 200px;
  height: 40px;
  font-size: 0.8em;
  display: flex;
  align-self: flex-end;
  margin-top: -60px;
  margin-left: 65px;
  margin-bottom: 5px;
}
.price-products{
  font-size: 0.8em;
  font-weight: bold;
  width: 50px;
  display: flex;
  align-self: flex-end;
  margin-left: 210px;
}
